* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg1>div {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./image/butterfly-7300501_1920.jpg);
    background-size: cover;
}

.bg1>div>div {
    width: 270px;
    height: 270px;
    background-color: rgba(2, 0, 10, 0.452);
    border-radius: 20px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}